/* Global - 참고 : Ellie(엘리) https://academy.dream-coding.com/courses/take/portfolio/lessons/12700454-global-set-up-typography*/
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Annimation */
    --animation-duration: 300ms;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    /* Google Font 적용 */
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    cursor: default;/*커서가 text랑 navbar 메뉴 커서 모양이 달라서 통일*/
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    padding-left: 0;
}

li {/* navbar에 패딩과 목록 아이콘 제거 */
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

    /* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}
p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

    /* Navbar */
#navbar {
    display: flex; /*안의 요소가 block레벨이라 변환*/
    justify-content: space-between;/*둘의 간격을 떨어트리기*/
    background-color: var(--color-pink);
    align-items: center;/*로고 이름 가운데 정렬*/
    color: var(--color-white);
    padding: 16px;/*로고등이 너무 붙어 있어서*/
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu {
    display: flex;/*메뉴들을 한 줄로*/
}

.navbar__menu__item {/*메뉴들이 간격 없이 붙어 있어서*/
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
    border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
    background-color: var(--color-dark-pink);
}
/*햄버거 위치가 미디어 밖에 있는 이유는 미디어쿼리는 최소한의 정보를 담아야 하기 때문에
햄버거가 보이냐 안 보이냐의 정보만 미디어 쿼리에 있으면 된다.*/
.navbar__toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;/*opacity를 사용 안 한 이유는 display와 달리 실제로 클릭 가능 눈에만 안 보임*/
}

    /*Home*/
#home {
    background: url('imgs/homebackground.png') center/cover no-repeat;
    padding: 40px;
    text-align: center;
}

.home__avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
}

.home__title,
home__description{
    color: var(--color-white);
}

.home__contact{
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}

    /* Section common */
.section {
    padding: 50px;
    text-align: center;
    margin: auto;/*왼쪽으로 고정 될 경우 auto로 가운데 정렬*/
}

.section__container {
    max-width: 1200px;/*보통 데시크탑에서 편하게 볼 수 있는 사이즈*/
    margin: auto;/*왼쪽으로 고정 될 경우 auto로 가운데 정렬*/
}

    /* About */
.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;/*height와 동일하게 주면 가운데 위치*/
    font-size: 70px;/*icon 크기*/
    color: var(--color-blue);
    margin: auto;/*오른쪽에만 있던 걸 수정*/
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
}

.major__icon i {
    transition: all var(--animation-duration) ease;
}

.major__icon:hover i{
    color: var(--color-pink);
    transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
    color: var(--color-dark-grey);
}

.major__description {
    font-size: var(--font-small);
}

.job {
    display: flex;
    align-items: center;
}

.job__description {
    margin: 0 16px;
    text-align: left;
}

.job__name,
.job__period {
    color: var(--color-light-grey);
}

.job__name {
    font-size: var(--font-small);
}

.job__period {
    font-size: var(--font-micro);
}

    /* Skills */
#skills {
    background-color: var(--color-yellow);
}

.skillset {
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: 20px 0;
}

.skillset__title{
    color: var(--color-white);
}

.skillset__left {
    /*넓이 공간이 있는데도 늘어나지 않은 이유는
    콘텐츠 자체가 적어서 flex-basis로 기본 넓이 지정 */
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
}

.skill {
    margin-bottom: 32px;
}

.skill__description {
    display: flex;
    justify-content: space-between;
}

.skill__bar {/*프로그래스 바 같이 만들기*/
    width: 100%;/*내용이 없어서 넓이 값을 줘야한다.*/
    height: 3px;
    background-color: var(--color-grey);
}

.skill__value {/*프로그래스 바 같이 만들기*/
    /*width: 100%; 여기서 주면 모든 수치가 같아서 HTML에서 각각 주기*/
    height: 3px;
    background-color: var(--color-orange);
}

.skillset__right {
    /*넓이 공간이 있는데도 늘어나지 않은 이유는
    콘텐츠 자체가 적어서 flex-basis로 기본 넓이 지정 */
    flex-basis: 40%;
}

.tools {
    background-color: var(--color-grey);
}

.tools,
.etc {
    padding: 20px;
}

    /* Work */

.work__categories {
    margin: 40px;
}

.category__btn {
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
    opacity: 1;
    top: 0;
}

.category__count {
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;/*숫자가 동그라미 가운데 오게 하기 위해서*/
    display: inline-block;/*동그라미가 찌그러진것을 방지*/
    /*선택 사항 - 숫자 애니메이션 효과*/
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;/*투명도*/
    transition: all var(--animation-duration) ease;
}

.work__projects {
    display: flex;
    flex-wrap: wrap; /*한 공간에 안 들어가면 다음 줄로*/
    justify-content: center; /*가운데로*/
}

.project {
    position: relative;/*project__description 때문에 설정*/
    display: flex;/*박스안 사진이 가운데 위치*/
    justify-content: center;
    align-items: center;/*여기까지 해야 가운데 위치*/
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-light-white);
}

.project__img { /*이미지 크기가 제각각일 경우 맞춰주기*/
    max-width: 100%;
    max-height: 100%;
}

.project__description {
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;/*한줄에 모이기 때문에 반대 축으로 변경*/
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    /*animation 효과*/
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description{ /*hover시 글씨 보이기*/
    opacity: 0.8;
    transform: translateY(0px);
}

.project__description h3 {
    color: var(--color-white);
}

.project__description h3:after {/*h3와 span 사이 밑줄 추가*/
    content: '';/*공백*/
    display: block;/*밑줄한줄*/
    position: relative;
    left: 50%;/*왼쪽 선 기준으로 반절이라서 생각한거랑 다르다*/
    width: 25px;
    height: 2px;
    margin-left: -12px;/*왼쪽 선이 가운데 오도록 약간 조정*/
    margin-top: 8px;
    background-color: var(--color-dark-white);
}

    /* Testmonials */
#testmonials {
    background-color: var(--color-light-white);
}

.testmonials {
    margin: 40px;
}

.testmonial {
    display: flex;
    margin: 32px 0;
}

.testmonial__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.testmonial__avatar:nth-child(odd) {/*홀수*/
    margin-right: 40px;
}

.testmonial__avatar:nth-child(even) {/*짝수*/
    margin-left: 40px;
}

.testmonial__speech-bubble {
    padding: 18px;
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
}

.testmonial__speech-bubble p{
    color: var(--color-light-grey);
}

.testmonial__speech-bubble a{
    color: var(--color-pink);
}

    /* Contact */
#contact {
    background-color: var(--color-pink);
}

.contact__tilte,
.contact__email,
.contact__rights {
    color: var(--color-white);
}

.contact__tilte {
    margin: 32px 0;
}

.contact__links {
    font-size: var(--font-large);
    margin: 24px 0;
}

.contact__links i {
    transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
    transform: scale(1.1);
    color: var(--color-black);
}

    /* For below 768px screen width */
@media screen and (max-width: 768px) {
    .navbar__toggle-btn {
        display: block;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;/*넓이가 부족해서 메뉴들이 가운데 안 왔다*/
        display: none;
    }

        /* About */
    .about__majors {
        flex-direction: column;
    }

    .major {
        margin: 38px;
    }

        /* Skills */
    .skillset {
        flex-direction: column;
    }

    .project {/*화면이 작을 경우 컨텐츠가 여백이 많아서 꽉 채울려고*/
        flex-grow: 1;
    }

        /* Testmonials */
    .testmonial__avatar {
        width: 80px;
        height: 80px;
    }

}
