* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide{
  position: absolute;
  inset: 80px 200px 80px 80px;
  background: #ccc;
  border-radius: 20px;
}

.slide .slides{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 240px;
  height: 320px;
  background: var(--img);
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: start;
  align-items: flex-end;
}

.slide .slides:nth-child(1),
.slide .slides:nth-child(2){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
  background-size: cover;
}

.slide .slides:nth-child(3){
  left: calc(50% + 240px);
  background-size: cover;
}

.slide .slides:nth-child(4){
  left: calc(50% + 500px);
  background-size: cover;
}

.slide .slides:nth-child(5){
  left: calc(50% + 760px);
  background-size: cover;
}

.slide .slides:nth-child(6){
  left: calc(50% + 1020px);
  background-size: cover;
  opacity: 0;
}

.buttons{
  position: absolute;
  bottom: 15px;
  display: flex;
  gap: 20px;
}

.buttons span{
  position: relative;
  width: 50px;
  height: 50px;
  background: #111;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.buttons span::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  transform: rotate(315deg) translate(2px, 2px);
}

.buttons span:nth-child(2)::before{
  transform: rotate(135deg) translate(2px, 2px);
}
.buttons span:active{
  opacity: 0.5;
}

.content{
  position: relative;
  padding: 40px;
  max-width: 600px;
  transition: 0.25s;
  transition-delay: 0s;
  transform: translateY(40px);
  z-index: 10000;
  opacity: 0;
}

.content h2{
  font-size: 2em;
  color: #fff;
}

.content p{
  color: #fff;
}

.slide .slides:nth-child(1) .content,
.slide .slides:nth-child(2) .content{
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.5s;
}

@media (max-width: 900px){

  .slide{
    position: absolute;
    inset: 40px 40px 200px 40px;
  }
  .slide .slides{
    width: 100px;
    height: 100px;
    top: initial;
    bottom: -170px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  }

  .slide .slides:nth-child(1),
  .slide .slides:nth-child(2){
    top: initial;
    bottom: 0;;
  }
  
  .slide .slides:nth-child(3){
    left: 0;
  }

  .slide .slides:nth-child(4){
    left: 120px;
  }

  .slide .slides:nth-child(5){
    left: 240px;
  }
  .slide .slides:nth-child(6){
    left: 360px;
  }


}