* {
    margin: 0;
    padding: 0;
}

body {
    background: #121212;
}

img {
    width: 47%;
    cursor: pointer;
    filter: grayscale(100%);
    transition: 1s;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 90%;
    margin: auto;
}

img:hover {
    filter: grayscale(0%);
}