html, body {
    width: 100%;
    height: 100%;
}
.bx-wrapper,
.bx-viewport,
.slider {
    width: 100%;
    height: 100%;
}
.background_01 {
    width: 100%;
    height: 100%;
    background: url("../images/a.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.background_02 {
    width: 100%;
    height: 100%;
    background: url("../images/b.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.background_03 {
    width: 100%;
    height: 100%;
    background: url("../images/c.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: url("../images/16.png");
    z-index: 10;
}

.contents {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -234px;/*468px의 절반값을 빼줍니다*/
    margin-top: -109px;/*218px의 절반값을 빼줍니다*/
    z-index: 20;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: "Malgun Fothic", sans-serif;
}
.contents__name {
    font-size: 64px;
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
}
.contents__job {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
}
.contents__list {/*가독성을 위해 li 태그들 사이의 공백을 추가하면서 생기는 공백을 없애는 방법*/
    font-size: 0;
}
.contents__list > li {
    display: inline-block;
    width: 52px;
    height: 52px;
    line-height: 52px;/*한 줄 text를 특정 영역에서 수직, 중앙에 위치할 때 높이와 동일한 값*/
    border: 1px solid white;
    border-radius: 50%;
    font-size: 16px;
    margin-right: 20px;
}
.contents__list > li:last-child {
    margin-right: 0;
}
.contents__list > li > a {
    color: white;
}

.desc {
    display: none;
}